<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light justify-content-end">
    <div class="container">
      <a class="navbar-brand" href="#">TODO APP</a>
      <div
        class="collapse navbar-collapse flex-grow-0"
        id="navbarTogglerDemo03"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">TODOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SETTING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOGOUT</a>
          </li>
        </ul>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
