<div class="mx-auto">
  <fa-icon
    class="px-4"
    [icon]="faEdit"
    (click)="openVerticallyCentered(addTask)"
  ></fa-icon>

  <ng-template #addTask let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Update New Task</h4>
      <button
        type="button"
        class="btn btn-outline-secondary close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="add-form" (ngSubmit)="onUpdate()">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            [(ngModel)]="title"
            (ngModelChange)="todo.title = $event"
            class="form-control"
            id="title"
            placeholder="Title"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            [(ngModel)]="description"
            (ngModelChange)="todo.description = $event"
            class="form-control"
            id="description"
            rows="3"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="createdAt" class="form-label"> Date and Time</label>
          <input
            type="text"
            name="createdAt"
            [(ngModel)]="createdAt"
            (ngModelChange)="todo.createdAt = $event"
            class="form-control"
            id="createdAt"
            placeholder="Date"
          />
        </div>

        <!-- <div class="form-control form-control-check">
              <label for="Reminder">Set Reminder</label>
              <input type="checkbox" name="reminder" id="reminder" />
            </div> -->

        <input type="submit" value="Save Task" class="btn btn-primary" />
      </form>
    </div>
    <!-- <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="modal.close('Close click')"
      >
        Close
      </button>
    </div> -->
  </ng-template>
</div>
