<div class="list-group">
  <a
    routerLink="/view-task"
    class="list-group-item list-group-item-action"
    aria-current="true"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <div class="">
        <fa-icon class="px-4" [icon]="faEdit"></fa-icon>
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </div>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>2015/09/12</small>
  </a>
</div>
