<div class="todo-card d-flex justify-content-between">
  <!-- <a aria-current="true"> -->
  <div routerLink="/view-task/{{ todo.id }}" class="todo-details">
    <h5 class="title">{{ todo.title }}</h5>
    <div class="details">
      <p>
        {{ todo.description }}
      </p>
      <small>{{ todo.createdAt }}</small>
    </div>
  </div>
  <div class="options d-flex justify-content-center align-items-center">
    <app-update-task [todo]="todo" (updatedTodo)="updatedTodo($event)">
    </app-update-task>

    <fa-icon (click)="onDelete(todo)" [icon]="faTrashAlt"></fa-icon>
  </div>

  <!-- <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ todo.title }}</h5>
      <div class="">
        <fa-icon class="px-4" [icon]="faEdit" (click)="onDelete()"></fa-icon>
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </div>
    </div>
    <p class="mb-1">{{ todo.description }}</p>
    <small>{{ todo.createdAt }}</small> -->
  <!-- </a> -->
</div>
