<div class="view-task container col-12">
  <div>
    <a routerLink="/">
      <fa-icon
        class="fa-2x"
        style="color: black"
        [icon]="faArrowLeft"
      ></fa-icon>
      <!-- <fa-icon [icon]="faArrowLeft"></fa-icon> -->
      <!-- <fa-icon [icon]="faArrowLeft"></fa-icon> -->
    </a>
  </div>
  <div class="row justify-content-center">
    <div class="col-7">
      <img class="svg-img" src="assets/todo.svg" />
    </div>
    <div class="col-5">
      <h1>{{ title }}</h1>
      <small>{{ createdAt }}</small>
      <p>
        {{ description }}
      </p>
    </div>
  </div>
</div>
